<script>
  $(document).ready(function() {
    $("#continueButton").click(function() {
            if(window.confirm("Are you sure you have scanned the bar code? This action is not reversible.")){
              document.location = "http://localhost:3000/home/twoFactor";
            }
        });
  });
</script>
<center>
<div class='container'>
<h1>2FA setup for first time user</h1>  
    <div>
        <%= image_tag('ga_icon.jpg', :size => "60x60");%>
        <h2>Step 1: Download the Google Authenticator App from the AppStore(iPhone/Blackberry/Android)</h2>
        <h2>Step 2: Scan the QRCode below</h2>
    </div>
<hr />
<%= google_authenticator_qrcode(@user) %>
<br />
<input id="continueButton" type="button" value="I have already scanned the barcode."/>
</div></center>