The QR Code below has the secret key url for the
Google Authenticator Service and should be scanned with
the Google Authenticator App.
<BR> <BR>
<%= google_authenticator_qrcode(@user) %>
<BR><BR>
<a href="/home/twoFactor">Back</a>
