<script>
    $(document).ready(function() {
        var userName = "<%= getUserName(@user) %>";
        $("#userName").text(userName);
        moduleData = JSON.parse('<%= getModules(@user).html_safe %>');
        $(moduleData.Results).each(
            function(i){
                $("#modlist").append("<li>" +moduleData.Results[i].CourseCode+ " " +moduleData.Results[i].CourseName +"</li>");
            }
        );

        $("#privButton").click(function() {
            document.location = "http://localhost:3000/home/gradebook";
        });

    });
</script>
<center>
<div class='container'>
<h1>IVLE</h1>
<h2>Welcome <a id="userName"></a>!</h2>
Courses List:
<ul id="modlist" style='width:300px;max-width: 300px;'></ul>
<input id="privButton" type="button" value="Access your Gradebook"/>
</div>
</center>